<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Define la salida del log a un archivo -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>/opt/logs/be-teamstatsfoxs.log</file> <!-- Ruta del archivo de log -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern> <!-- Patrón de formato del log -->
        </encoder>
    </appender>

    <!-- Configura el root logger -->
    <root level="INFO">
        <appender-ref ref="FILE"/> <!-- Asocia el appender FILE definido arriba -->
    </root>

</configuration>