<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Define el formato de los logs -->
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n" />

    <!-- Configuración para escribir los logs en un archivo específico -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>/opt/logs/be-teamstatsfoxs.log</file>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Configuración del logger -->
    <root level="info">
        <appender-ref ref="FILE"/>
    </root>

</configuration>